pandas==2.2.1
openpyxl==3.1.2
reportlab==4.1.0
arabic-reshaper==3.0.0
python-bidi==0.4.2
pillow==10.2.0
qrcode[pil]==7.4.2
hijri-converter==2.3.1
xlsxwriter==3.2.0
weasyprint
qrcode
hijri_converter
jinja2
pdfkit